/*----------Defaults----------*/
* {
	box-sizing:border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
	color: #2d3945;
	margin: 0 auto;
	text-align: center;
	background: #fff;
}

header {
	margin: 0 0 45px;
	padding: 10px 0;
	color: #fff;
	background: #2d3945;
}

section, form {
	max-width: 650px;
}

h1, h2, legend {
	font-weight: 800;
	font-size: 1.2em;	
}

h2 {
	margin: 0;
}

p {
	margin: 10px 0 0;
	font-size: .9em;
	font-weight: 300;
	color: #9da3a8;
}

#intro {
	width: 90%;
	margin: 0 auto 3px;
}

	#intro p {
		color: #2d3945;
	}


/*----------Forms----------*/
form {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

fieldset {
	padding: 25px 25px 5px;
	border: none;
}

	#contact_info {
		background: #eff0f1;
		border-radius: 8px;
	}

legend {
	width: 100%;
	padding: 42px 0 0;
	border-bottom: 2px solid #2d3945;
}

label {
	font-size: .9em;
	width: 100%;
}

input, select, textarea {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: .9em;
	width: 100%;
	margin: 10px 0 20px;
	padding: 15px 20px;
	border: none;
	color: #2d3945;
	border-radius: 4px;
	outline: none;
}

	input, select {
		background-color: #fff;
	}
	
	textarea {
		background-color: #eff0f1;
	}

select {
	-webkit-appearance: menulist-button;
	height: 46px;
}

::placeholder {
	font-style: italic;
	color: #9da3a8;
	text-align: right;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	color: #fff;
	background: #4ebbb5;
	padding: 20px;
	border-radius: 4px;
	width: 100%;
	border: none;
	margin: 0 0 10px;
}

#zip {
	width: 50%;
}

.radio, .check {
	display: inline;
	width: inherit;
	height: inherit;
	margin: 10px 10px 10px 2px;
}


/*----------Focus States----------*/
input, textarea {
	transition: color .5s linear, background .5s linear;
}

input:focus, textarea:focus {
	background: #4ebbb5;
	color: #fff;
	/*---box-shadow: 0 0 0 3px #4ebbb5;---*/
}


/*----------Footer----------*/
footer {
	font-style: italic;
	margin: 0 0 30px;
}


/*----------Media Query----------*/
@media screen and (min-width: 768px) {
	legend {
		padding: 45px 0 5px;
	}
	
	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 20px 0;
	}

	div input, select {
		width: 75%;
		margin: auto 0;
	}
	
	div label {
		width: 25%;
		margin: auto 0;
	}
	
	#zip {
		width: 25%;
		margin-right: auto;
	}
}